body {
    margin: 0;
    font-family: Arial, sans-serif;
    background : #8888;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background: #f0f0f0;
    padding: 50px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(200,0,0,2);
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
